<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/coursera_sem1_exo2/src/coursera_sem1_exo2/Magie.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="coursera_sem1_exo2.Magie"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="coursera_sem1_exo2"/>
</launchConfiguration>
