<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/coursera_exercices_semaine1/src/coursera_exercices_semaine1/main_cercle.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="coursera_exercices_semaine1.main_cercle"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="coursera_exercices_semaine1"/>
</launchConfiguration>
